#title {
    color: #FFF;
    padding: 4px;
    font-family: 'Righteous';
    font-size: 2rem;
    margin: 0;
}

.navbar-brand {
    margin-left: 10px;
}

fa-icon {
    color: #ffc107;
    font-size: 2rem;
}

.navbar {
    background-color: #050656;
}

li .nav-link {
    color: #FFF;
}