.container {
    padding-top: 15%;
    padding-left: 5%;
    background-size: cover;
    height: 100vh;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.5);

}

.home {
    background-image: url('../../../flowers.jpg');
    background-size: cover;
}

.home h1 {
    font-size: 4rem;
    color: #fff;
    word-wrap: break-word;
}

.home p {
    color: #fff;
}

.home button {
    width: 50%;
    font-weight: bold;
    width: 50%;
}
