.container {
    margin-top: 50px;
}


.btn {
    width: 100%;
    margin-top: 10px;
}

.form label {
    padding: 8px 0px;
    font-size: 20px;
    font-weight: bold;
}

input {
    padding: 6px;
}

form {
    margin-left: 10px;
    height: 80%;
    padding: 0px;
}

.errorMsg {
    color: red;
    font-weight: bold;
    text-align: center;
    font-size: 16px;
}

.formImage {
    background-image: url('../../../umbrella.jpg');
    background-size: cover;
}

@media screen and (max-width: 767px) {

    .info, .form {
        float: none;
        width: 80%;
        text-align: center;
    }
    
}