<app-header></app-header>
<div class="container">
    <form class="form" #tempForm>
        <div class="errorMsg" *ngIf="errorMsg">{{ errorMsg }}</div>
        <div class="form-group">
            <label for="airTemp">Air Temperature</label>
            <input type="text" class="airTempInput form-control" #temp (keyup)="getTemp(temp.value)" required>

            <label for="date">Date</label>
            <input type="date" class="dateInput form-control" #date (keyup)="getDate(date.value)" required>

            <label for="time">Time</label>
            <input type="time" class="timeInput form-control" #time (keyup)="getTime(time.value)" required>

        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea class="description form-control" rows="8" #description
                (keyup)="getDescription(description.value)"></textarea>
        </div>
        <button type="submit" #submit class="btn btn-warning" (click)="onSubmit($event)">Submit</button>
    </form>
    <!-- show after submission -->
    <div class="container info" [hidden]="hideSubmission">
        <div class="card">
            <h5 class="card-header">Thank you for your submission!</h5>
            <div class="card-body">
              <img src="../../../grass.jpg" id="subImage">
              <h4>Temperature: {{ dataSubmitted.observationTemp }}</h4>
              <h4>Date: {{ dataSubmitted.observationDate }}</h4>
              <h4>Time: {{ dataSubmitted.observationTime }}</h4>
              <h4>Description: {{ dataSubmitted.observationDesc }}</h4>
            </div>
            <button class="btn btn-primary clear" (click)="hideSub()">Clear</button>
        </div>
    </div>
    
</div>