.info {
    float: left;
    width: 45%;
    height: 550px;
    padding: 20px;
    background-image: url('../../../grass.jpg');
    background-size: cover;
    color: #000;
    font-weight: bold;
    text-align: center;
}

.info .container {
    background-color: rgba(0, 0, 0, 0.3);
    vertical-align: middle;
    height: 100%;
    text-align: center;
    padding-top: 20%;
}

